@import "normalize.css";

html, body, #root {
  width: 100%;  
  height: 100%;
}

html {
  font-family: SANS-SERIF;
  background: hsla(200, 13%, 96%, 1);
  color: #1e2127;
	body {
    display: flex;
    justify-content: center;

    #root {
      width: 600px;
      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }
	}

}

.clickable-block{
    overflow: hidden;
/*  position: relative;
    width: 100%;
    height: 100%;*/
}
.clickable-block:hover::after {
    position:absolute;
    display:block;
    z-index: 9;
    background-color: black;
    opacity: 0.2;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: '';
    cursor: pointer;
    border-radius: inherit;
}