#dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  section {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 20px;
  }

  .buttons-list {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (max-width: 420px) {
      flex-direction: column;
    }


    button {
      box-shadow: inset 0 0 0 1px rgba(16,22,26,.4), inset 0 -1px 0 rgba(16,22,26,.2);
      color: white;
      position: relative;
      text-transform: none;
      width: 80px;
      padding: 5px 0px;
      border: none;
      border-radius: 3px;
      font-weight: bold;

      &.positive {
        background-color: #0f9960;
      }
      &.negative {
        background-color: #db3737;
      }

      &:hover {
        cursor: pointer;
      }
      @media screen and (max-width: 420px) {
        width: calc(100% - 20px);
        margin: 10px 10px;
        height: 40px;
      }

      &:active {
        transform: scale(1.05);
      }
    }
  }
}
