.loading-bar {
	position: relative;
	width: 100%;
	height: 20px;
	border-radius: 7px;
	background: hsla(207, 16%, 50%, 0.2);
  overflow: hidden;
  margin-bottom: 10px;
  transition: margin-top 0.2s, margin-bottom 0.2s, transform 0.1s;

  &.is-selected {
    pointer-events: none;
    box-shadow: 0px 0px 10px 5px hsl(212, 100%, 80%);
    border: rgba(255, 255, 255, 0.5) 1px solid;

    margin-top: 20px;
    margin-bottom: 30px;
  }

	.progress-meter {
		background-color: hsla(203, 82%, 70%, 1);
		height: 100%;
    border-radius: inherit;
    transition: width 0.2s, background-color 0.5s;

    &.is-overflow {
      background-color: red;
    }
	}
	.value {
		position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    line-height: 22px;
    font-weight: bold;
	}
}